@font-face {

  font-family: 'roboto';
  src: url("../fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Shrikhand';
  src: url("../fonts/shrikhand/Shrikhand-Regular.ttf");

}





/* Version mobile */

@media screen and (max-width: 600px) {
  body {

    font-family: 'roboto';
    background-color: #f6f6f6;

  }
  .restaurant {
    display: flex;
    flex-direction: column;
  }
  
  
/* Loading Spinner */
.demo {
    width: 200px;
    margin: auto;
    position: relative;
    text-align: justify;
    top:30px;
}   
.custom-loading-spinner {
    cursor: progress;
    position: absolute;
    width: 100%;
    height: 100%;
}
.custom-loading-spinner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10001;
    overflow: hidden;
    background: #0b0b0b;
    opacity: 0.7;
}
.custom-loading-spinner::after {
    box-sizing: border-box;
    z-index: 10002;
    content: "";
    position: absolute;
    top: 40px;
    left: 50%;
    margin: -25px 0 0 -25px;
    border: 3px solid #9356DC;
    border-top: 3px solid #FF79DA;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: custom-loading 1s linear 5;
    animation-fill-mode: forwards;
}

@keyframes custom-loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);
    visibility: hidden}
}


}



#logo {
  display: block;
  width: 50%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Logo de chargement */






/* champ recherche Paris Belleville */
.recherche {
  display: flex;
  margin-top: 5px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(234, 234, 234);
  border-top: 2px solid lightgrey;
}

.texte {
  font-family: 'roboto';

}

h1 {

  text-align: center;
  font-family: 'roboto';
  font-size: 20px;
  font-weight: bolder;

}

p {
  font-family: 'roboto';
  text-align: center;
  font-size: 15px;
  color: grey;
}

/* Bouton mauve explorer nos restaurants */
.explorer {
  display: block;
  margin: auto;
  background: linear-gradient(to right, #FF79DA, #9356DC);
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 5px 5px 5px #c2c2c2;
}

/* Police pour restaurants h3 */
h3 {
  font-size: 20px;
  font-family: 'roboto';
  text-align: left;
  margin-left: 10px
}


/* Logo fonctionnemnt */

i {
  color: grey;
  width: auto;
  padding-left: 15px;
  padding-right: 25px;
  width: 0;
  align-items: left;

}


.color {
  color: grey;
}

li {
  text-decoration: none;
  margin: 1px;
}

.color2 {
  color: black;
}

ol {

  list-style: none;
  counter-reset: texte;

}

li::before {
  background-color: #9356DC;
  align-items: center;
  color: white;
  font-size: 15px;
  border-radius: 25px;
  padding-left: 5px;
  padding-right: 5px;
  counter-increment: texte 1;
  content: counter(texte) " ";
  position: relative;
  left: -20px;

}

li:hover {
  transform: scale(1.01);
  color: black;
  background-color: rgb(233, 217, 250);
}

a:link {
  text-decoration: none;
}

/* Fonctionnement mise en page flex */


/* Boutons fonctionnement */
.choisissez {
  display: flex;
  align-items: center;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  box-shadow: 5px 5px 5px gray;


}

.composez {
  display: flex;
  width: 300px;

  background-color: white;
  border-radius: 10px;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-top: 15px;
  box-shadow: 5px 5px 5px gray;



}

.degustez {
  display: flex;
  width: 300px;

  background-color: white;
  border-radius: 10px;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-top: 10px;
  box-shadow: 5px 5px 5px gray;

}

.texte {
  color: black;
}

/* Reglages images restaurants */

.photo_resto {

  object-fit: fill;
  border-radius: 15px 15px 0 0;
  object-position: center bottom;

}


.restaurant {

  margin-top: 20px;
  background-color: rgb(246, 246, 246);
  font-size: 22px;
  margin-left: 10px;
  margin-right: 0px;
  padding-top: 40px;
  padding-right: 30px;
  padding-left: 20px;
  padding-bottom: 5px;

}

/* Ajout rectangle nouveau sur restaurant 1 et 2*/

.nouveau{
  align-content: flex-end;
  display: inline-block;
  border: 1px solid #99e299;
  background-color: #99e2d0;
  color: #0a8d6d;
  border-radius: 2px;
  padding: 1px 10px;
  margin: 5px;
  z-index: auto;
  font-weight: 600;
  z-index: 1;
  position: absolute;
  right: 50px;


}








.restaurant1,
.restaurant2,
.restaurant3,
.restaurant4
 {

  margin-top: 20px;
  background-color: white;
  font-size: 22px;
  padding-bottom: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px gray
}


/* 
.restaurant2 {


  
}

.restaurant3 {




  margin-top: 20px;
  background-color: white;
  font-size: 22px;
  padding-bottom: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px gray
}


.restaurant4 {


  margin-top: 20px;
  background-color: white;
  font-size: 22px;
  padding-bottom: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px gray
}

 */


img {
  max-width: 100%;


}

.metro {
  display: flex;
  font-family: 'roboto';
  margin-left: 10px;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 0px;
  margin-top: -20px;
  color: black;
}

.favori {
  display: flex;
  flex-direction: row;
  justify-content: end;

  align-content: flex-end;
  position: absolute;
  right:50px;
}

/* Coeur sur les 4 restos */
.favori2 {
  display: flex;
  align-items: flex-end;
  font-size: 25px;
  position: relative;
  left:380px;
  bottom:20px;
  

 
  
  
}



/* Effet couleur coeur (forum OC) */
.fa-heart {
  color: black;
  background-color: white;

}

.fa-heart::before {

  transition: color 1s ease-out;
  font-weight: 500;
}

.fa-heart:hover::before {
  color: #9356DC;
  font-weight: bold;
  cursor: pointer;
}

.nom_restau {
  font-size: 5px;
}

/* background restaurants */




/* Style bordure bas Menu(entree plat dessert) */
.menu {

  border-bottom: 3px solid lightgreen;
  width: 45px;
  min-width: 0;


}
.restaurant_menu {
 
}
/* format menu */
.restaurant_menu {

  background-color: white;
  display: flex;
  justify-content:space-between;
  margin:10px;
  align-items: center;
  font-family: roboto;
  border-radius: 20px;
  height: 80px;
  padding-bottom: 5px;
  margin-bottom: 5px ;
  box-shadow: 5px 5px 5px gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width:100%;



}

.restaurant_menu:hover .entree1 .entree2{
  text-overflow: ellipsis; 
  display: flex; 
  overflow: hidden; 
  white-space: nowrap;

}

/* Animation Menus  */

.restaurant_menu:hover .compo_menu_check_icon {  
  transform: translateX(-75%);
  transition: ease-in-out 400ms;
  opacity: 1;
}


.restaurant_menu:hover .compo_menu_check_icon i {
  transform: rotate(360deg) translateX(-5%);
  transition: ease-out 400ms;
}
.restaurant_menu:hover .prix{

  transform: translateX(-75%);
  transition: ease-in-out 400ms;
  opacity: 1;}
  
.menu:nth-child(1) {
  animation: apparition 2s backwards;
}

.restaurant_menu:nth-child(3) {
  animation: apparition 2s 0.2s backwards;
}

.restaurant_menu:nth-child(4) {
  animation: apparition 2s 0.4s backwards;
}

.restaurant_menu:nth-child(5) {
  animation: apparition 2s 0.6s backwards;
}

.restaurant_menu:nth-child(6) {
  animation: apparition 2s 0.6s backwards;
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
 
  
.compo_menu_check_icon {
  position: relative;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 7rem;
  height: 7.2rem;
  right:-105px;
  padding-right: 5px;
  padding-left: 1px;
  
}
    /* bouton check position et format */
  .compo_menu_check_icon :before {
    
    border: 1px solid white;
    border-radius: 25px;
    background-color: white;
    color: #99e2d0;
    padding-right: 15px;
    padding-left: -15px;
    padding-bottom: -15px;
    padding: 0.3rem;
    
   }






/* Menu Restaurant header fleche gauche pour retour */
.retour {
  color: black;
  position: absolute;
  top: 20px;
  left: 15px;

}



/*  format et disposition prix*/
 .prix {
 display:inline-block;
text-align: right; 
margin-left: auto;
margin-bottom:-21px;


 }

/* Nom du restaurant et changement de police */

.resopal {
  padding: border-box;
  font-family: 'Shrikhand';
  color: black;
  font-size: 27px;
  margin-top: 300px;
  border-radius: 10px 10px 10px 10px;
}

/* format et disposition entree1 */




.entree1 {
  display: block;
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
  width: 200px; 
  height: 32px;
  font-size: 18px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  
}
.entree2 {
    display: block;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
    width: 200px; 
    height: 32px;
    padding-left: 10px;
    padding-right: 10px;


}


.compo_menu_check {
  position: relative;
  display: flex;
  align-items: flex-end;
}

  


/* Bouton mauve commande */
.commander {
  display: block;
  margin: auto;
  background: linear-gradient(to right, #FF79DA, #9356DC);
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  border: none;
  box-shadow: 5px 5px 5px #c2c2c2;

}
/* couleur fond d'ecran et texte footer */
.footeromf {

  background-color: rgb(53, 53, 53);
  color: white;
}

/* Chnagement de couleur et de taille du logo footer */
.logo_footer {

  filter: invert(100);
  padding-top: 15px;
  padding-left: 25px;
  padding-bottom: 25px;
  width: 25%;

}

/* footer avec séparation de 2 lignes entre chaque texte. */
.texte_footer {

  font-family: roboto;
  line-height: 2;
  padding-top: 25px;
  padding-bottom: 5px;
  padding-left: 25px;


}

/* réglages logo font awesome */


.texte_footer2 {
  font-family: 'roboto';
  padding-left: 70px;
  line-height: 2;
}

